
  <div class="jumbotron">
    <h1 class="display-4">LEARN RUBY</h1>
    <p class="lead">It's super easy, cool & fun</p>
    <hr class="my-4">
    <p>Example driven fast learning.</p>
    <br></br>
    <a class="btn btn-danger btn-lg" href="#" role="button">Learn Ruby</a>
  </div>

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "caklipakli", "https://github.com/caklipakli/ruby_projects-alpha_blog" %></small>
    </div>
  </footer>
