
  <div class="jumbotron">
    <h1 class="display-4">LEARN RUBY</h1>
    <p class="lead">It's super easy, cool & fun</p>
    <hr class="my-4">
    <p>Example driven fast learning.</p>
    <br></br>
    <%= link_to 'Lern Ruby', articles_path, class:"btn btn-danger"%>
  </div>
