
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "caklipakli", "https://github.com/caklipakli/ruby_projects-alpha_blog" %></small>
    </div>
</footer>